.DS_Store
Thumbs.db
desktop.ini

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
